<app-header></app-header>
<main class="main-root">

    <app-header></app-header>
    <main class="main-root">
        <div class="site-header dsn-load-animate dsn-container">
            <div class="extend-container d-flex w-100 align-items-baseline justify-content-between align-items-end">
                <div class="inner-header p-relative">
                    <div class="main-logo">
                        <a routerLink="/home" data-dsn="parallax">
                            <img  class="light-logo" src="{{lien+tbprofile.nachd_light}}"  alt="5">
                            <img   class="dark-logo" src="{{lien+tbprofile.nachd_dark}}"  alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- ========== side box left ========== -->

        <div class="side-bar-full">
            <div class="side-box-left z-index-1">
                <div class="side-menu border-left border-right p-relative h-100 d-flex justify-content-center">
                    <div class="inner-header p-relative">
                        <div class="footer-item">
                            <a href="" class="logo-footer m-auto">
                                <img src="{{lien+tbprofile.startup_light}}" alt="" class="logo-dark cover-bg-img">
                                <img src="{{lien+tbprofile.startupdark}}" alt="" class="logo-light cover-bg-img">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="side-box-right text-stroke border-right text-uppercase z-index-2 special">
              <div class="hero-img p-absolute w-100  h-100 before-z-index z-index-0" data-overlay="5"
              data-dsn-ajax="img">
              <img class="cover-bg-img dsn-hero-parallax-img "
                  src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                  src="{{lien+ariereplan.contact}}"
                  data-dsn-position="10% 10%">
              </div>
              <div class="text-inner over-hidden">
                    <div class="text-stroke-box">
                        <div class="text-stroke-inner">NACHD UMS</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="p-fixed before-z-index h-100 left-bar" data-overlay="5" data-dsn-ajax="img">
          <img class="cover-bg-img" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
              src="{{lien+ariereplan.bandnachdums}}" alt="" data-dsn-position="50% 32%">
      </div>

        <div id="dsn-scrollbar">
            <div class="inner-content">
                <!-- ========== Header ========== -->
                <header class="p-relative dsn-header-animation full-width over-hidden h-v-100 v-dark-head">


                    <div class="box-content  align-items-center">
                        <div class="hero-img p-absolute w-100  h-100 before-z-index z-index-0" data-overlay="5"
                            data-dsn-ajax="img">
                            <img class="cover-bg-img dsn-hero-parallax-img "
                                src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                data-dsn-src="assets/photo/image10.jpg"
                                data-dsn-srcset="assets/photo/image10.jpg 1800w,assets/photo/image10.jpg 768w" alt=""
                                data-dsn-position="10% 10%">
                        </div>
                        <div class="hero-content dsn-container">
                            <div class="box-title ">
                                <h1 class="title">
                                    <span class="letter-stroke">NACHD UMS </span> <br>
                                    <span class="line-bg-left pl-80">Soulution NACHD-it</span>
                                </h1>
                            </div>
                        </div>
                    </div>
                </header>
                <!-- ========== End Header ========== -->
                <div class="wrapper ">

                    <!-- ========== Intro Project ========== -->
                    <div class="intro-project dsn-container section-margin" data-dsn-title="introduction">
                        <div class="row">
                            <div class="col-lg-8">
                                <div class="intro-text p-relative">
                                    <div class="inner">
                                        <h2 class="title-block  border-section-bottom dsn-up">
                                            introduction the project
                                        </h2>
                                        <p class="dsn-up mt-30 max-w750"> {{nachdums.introduction_fr}}</p>
                                        <a href="{{nachdums.line}}" target="_blank"
                                            class="btn-arrow w-100 d-flex align-items-center justify-content-between mt-30">
                                            <span>Visit site</span>
                                            <svg width="24" height="24" viewbox="0 0 24 24"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M3 13L17.17 13L13.59 16.59L15 18L21 12L15 6L13.59 7.41L17.17 11L3 11L3 13Z">

                                                </path>
                                            </svg>
                                        </a>
                                    </div>
                                </div>

                            </div>

                            <div class="col-lg-4">
                                <ul class="p-relative project-info ms-mt-block">
                                    <li>
                                        <h5>SERVICES</h5>
                                        <span>{{nachdums.domainedapplication}}</span>
                                    </li>
                                    <li>
                                        <h5>Industry </h5>
                                        <span>{{nachdums.devolope_par}}</span>
                                    </li>
                                    <li>
                                        <h5>Year</h5>
                                        <span> {{nachdums.date}}</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- ========== End Intro Project ========== -->
                    <div class="dsn-container brand-client mb-section " data-dsn-title="About Us">

                        <section class="about-me p-relative pt-section section-margin " >

                            <div class="dsn-container  p-relative special">
                                <div class="p-absolute w-70 h-100 right-0 background-section custom-background-section z-index-0 top-0 special">
                                </div>

                                <div class="d-grid p-relative grid-lg-2 padding-block z-index-1">
                                    <div class="box-img">
                                        <div class="h-100" data-dsn-grid="move-up">
                                            <img class="cover-bg-img" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" src="{{lien+nachdums.icon_nachdums}}" alt="">
                                        </div>

                                    </div>
                                    <div apropos.content class="box-info ">
                                        <h2 class="heading-h2 border-section-bottom mb-30 special ">
                                            what is NACHD UMS
                                        </h2>
                                        <p class="mb-10 special">{{nachdums.description_fr}}</p>
                                    </div>
                                </div>
                            </div>
                        </section>
                        </div>
                    <section class="blog dsn-container p-relative section-margin" data-dsn-title="Our services">
                        <div class="inner">
                            <h2 class="title-block  border-section-bottom dsn-up">
                                our services</h2>
                        </div>

                        <div  class="blog-content">
                            <div *ngFor="let p  of  service" class="blog-item p-relative pt-50 pb-50 border-bottom">
                                <div  class="blog-item-inner p-relative spec">
                                    <div  class="left-box">
                                            <h4 class="title-block">{{p.service_fr}}</h4>
                                    </div>

                                    <div class="right-box">
                                        <p class="max-w570">{{p.description_fr}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <app-nachdumsfeedback></app-nachdumsfeedback>
                    <!-- ========== Video Section ========== -->
                    <div class="section-video section-margin p-relative" data-dsn-title="Video Explicative">
                        <div class="bg-section p-relative">
                            <div class="before-z-index" data-dsn-grid="move-up" data-overlay="5">
                                <img class="cover-bg-img"
                                    src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                   src="{{lien+nachdums.icon_nachdums}}"
                                    alt="">
                            </div>
                            <a href="https://vimeo.com/175353205" class="vid c-hidden v-middle z-index-2">
                                <div class="play-btn image-zoom background-main heading-color move-circle"
                                    data-dsn="parallax">PLAY
                                </div>
                            </a>
                        </div>
                    </div>
                    <!-- ========== End Video Section ========== -->

                    <!-- ========== 2 col image with pop image ========== -->
                    <div class="section-margin has-popup over-hidden p-relative" data-dsn-title="Gallery" >
                      <div  class="section-margin has-popup over-hidden p-relative">
                        <div *ngfor="let p  of multi; let i = index"  class="dsn-container">
                            <div   class="d-grid grid-md-2  over-hidden">
                                <a
                                    class="p-relative over-hidden h-v-60 d-flex">
                                    <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                        src="{{lien+p}}">
                                </a>
                            </div>
                        </div>
                    </div>
                    </div>

                    <app-footer></app-footer>
                </div>


            </div>

        </div>

    </main>
