<div class="dsn-container brand-client mb-section " data-dsn-title="our clients">

<div class="d-grid grid-md-2 d-grid-no-space section-margin">

    <div class="inner-img h-100 before-z-index" data-dsn-grid="move-up" data-overlay="3">
        <img class="has-bigger-scale" src="assets/img/about-1.gif" alt="">
    </div>
    <div class="pro-text background-section box-padding special">
        <div class="border-section-bottom mb-50">
            <h2 class="heading-h2">
                How is your <br> visual identity?
            </h2>
        </div>


        <div class="description max-w570">
            <p class="mb-10">
                A system that young people around the world with a club culture and techno
                enthusiasts
                feel identified.
                We generated a simple logo that is the basis for generating a geometric and liquid
                system.
            </p>
            <p>
                Principal Garden reflects a new daring in residential design thinking that
                purposefully seeks to maximise unbuilt space amid the density of urban Singapore.
            </p>
        </div>


        <a href="project-1.html" class="effect-ajax link-custom v-light background-main image-zoom move-circle mt-30" data-dsn="parallax">Learn More</a>

    </div>

</div>
</div>