<div class="dsn-container brand-client mb-section " data-dsn-title="our clients">

<section class="about-me p-relative pt-section section-margin " data-dsn-title="About Us">

    <div class="dsn-container  p-relative special">
        <div class="p-absolute w-70 h-100 right-0 background-section custom-background-section z-index-0 top-0 special">
        </div>

        <div class="d-grid p-relative grid-lg-2 padding-block z-index-1">
            <div class="box-img">
                <div class="h-100" data-dsn-grid="move-up">
                    <img class="cover-bg-img" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-dsn-src="assets/photo/image18.jpg" alt="">
                </div>

            </div>
            <div apropos.content class="box-info ">
                <h2 class="heading-h2 border-section-bottom mb-30 special ">
                    Our Identity
                </h2>
                <p class="mb-10 special">{{content.about_fr}}</p>
            </div>
        </div>
    </div>
</section>
</div>