<div class="dsn-container brand-client mb-section " data-dsn-title="who we are">
<section class="about-me p-relative pt-section section-margin " data-dsn-title="About Us">

  <div class="dsn-container  p-relative special"  style="background-color:transparent;">

        <div class="p-absolute w-70 h-100 right-0 background-section custom-background-section z-index-0 top-0 special" style="background-color: transparent;">
          <div class="hero-img p-absolute w-100  h-100 before-z-index z-index-0" data-overlay="5"
          data-dsn-ajax="img">
          <img class="cover-bg-img dsn-hero-parallax-img "
              src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
              src="{{lien+ariereplan.contact}}"
              data-dsn-position="10% 10%">
          </div>
        </div>

        <div class="d-grid p-relative grid-lg-2 padding-block z-index-1" >

          <div class="box-img">
                <div class="h-100" data-dsn-grid="move-up">
                    <img class="cover-bg-img" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" src="{{lien+aboutus.photo_description}}" alt="">
                </div>
            </div>
            <div class="box-info "   >
                <h2 class="heading-h2 border-section-bottom mb-30 special " style="background-color: transparent;">
                    {{'Our Identity'|translate}}
                </h2>
                <p class="mb-10 special" style="background-color: transparent;">{{translate.currentLang == 'fr'? aboutus.description_fr : aboutus.description_an}}</p>
            </div>
        </div>
    </div>
</section>
</div>
