<footer class="footer border-top ">
  <div class="dsn-container ">
      <div class="d-grid grid-sm-2">
          <div class="footer-item">
              <a href="/home" class="logo-footer m-auto">
                  <img src="{{lien+tbprofile?.nachd_light}}" alt="" class="logo-dark cover-bg-img">
                  <img src="{{lien+tbprofile?.nachd_dark}}" alt="" class="logo-light cover-bg-img">
              </a>
          </div>

          <div class="footer-item text-right">
              <h5 class="sm-title-block mb-10">{{'Follow Us'|translate}}</h5>
              <ul class="box-social">
                  <li data-dsn="parallax">
                      <a href="{{tbprofile?.facebook}}">FB</a>
                  </li>
                  <li data-dsn="parallax">
                      <a href="{{tbprofile?.linkedin}}">IN</a>
                  </li>
              </ul>
          </div>

      </div>

      <div class="footer-bottom d-grid grid-md-1 border-top pt-30 mt-30">
          <div class="footer-item order-md-1">
              <div class="nav-footer text-right">
                  <ul>
                      <li class="d-inline-block over-hidden"><a class="link-hover" data-dsn="parallax" routerLink="/home">{{'HOME'|translate}}</a>
                      </li>
                      <li class="d-inline-block over-hidden"><a class="link-hover" data-dsn="parallax" routerLink="/storis">{{'Storis'|translate}}</a>
                      </li>
                      <li class="d-inline-block over-hidden"><a class="link-hover" data-dsn="parallax" routerLink="/posts">{{'New Posts'|translate}}</a>
                      </li>
                      <li class="d-inline-block over-hidden"><a class="link-hover" data-dsn="parallax" routerLink="/projects">{{'Projects'|translate}}</a>
                      </li>
                      <li class="d-inline-block over-hidden"><a class="link-hover" data-dsn="parallax" routerLink="/NACHD-UMS">NACHD-UMS</a>
                      </li>
                      <li class="d-inline-block over-hidden"><a class="link-hover" data-dsn="parallax" routerLink="/about">{{'ABOUT US'|translate}}</a>
                      </li>
                  </ul>
              </div>
          </div>
      </div>
      <div class="d-grid grid-sm-2">
        <div class="footer-item">
          <div class="fb-page" data-href="https://www.facebook.com/nachd.it/?locale=fr_FR" data-tabs="timeline" data-width="300" data-height="100" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/nachd.it/?locale=fr_FR" class="fb-xfbml-parse-ignore" ><a href="https://www.facebook.com/nachd.it/?locale=fr_FR">Nachd-IT</a></blockquote></div>
        </div>

        <div class="footer-item text-right">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3235.4914783107!2d10.635369815626769!3d35.812415480164034!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1302758ce6612a71%3A0xef9ba1ce6271c19!2sNachd%20IT!5e0!3m2!1sfr!2stn!4v1680617071000!5m2!1sfr!2stn"  style="border:0;"
          allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="iframe"    data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" ></iframe>

        </div>
        <div >
          <li   >
            <button (click)="changeCurrentLang('fr')" *ngIf="Fr" >
              <div class="icon" style="width: 30px;height: 30px;" >
              <img id="fr"src="{{lien+ariereplan?.francais}}" alt="">
            </div>
            </button>
          <button (click)="changeCurrentLang('en')" *ngIf="En">
            <div class="icon" style="width: 30px;height: 30px;"  >
              <img id="en" src="{{lien+ariereplan?.anglais}}"  alt="">
            </div>
          </button>
        </li>
      </div>
    </div>

    </div>
</footer>
