<footer class="footer border-top ">
    <div class="dsn-container">
        <div class="d-grid grid-sm-2">
            <div class="footer-item">
                <a href="" class="logo-footer m-auto">
                    <img src="{{lien+tbprofile.nachd_light}}" alt="" class="logo-dark cover-bg-img">
                    <img src="{{lien+tbprofile.nachd_dark}}" alt="" class="logo-light cover-bg-img">
                </a>
            </div>

            <div class="footer-item text-right">
                <h5 class="sm-title-block mb-10">Follow Us</h5>
                <ul class="box-social">
                    <li data-dsn="parallax">
                        <a href="{{tbprofile.facebook}}">FB</a>
                    </li>
                    <li data-dsn="parallax">
                        <a href="{{tbprofile.linkedin}}">IN</a>
                    </li>
                </ul>
            </div>

        </div>
 
        <div class="footer-bottom d-grid grid-md-1 border-top pt-30 mt-30">
            <div class="footer-item order-md-1">
                <div class="nav-footer text-right">
                    <ul>
                        <li class="d-inline-block over-hidden"><a class="link-hover" data-dsn="parallax" routerLink="/home">Home</a>
                        </li>
                        <li class="d-inline-block over-hidden"><a class="link-hover" data-dsn="parallax" routerLink="/storis">Storis</a>
                        </li>
                        <li class="d-inline-block over-hidden"><a class="link-hover" data-dsn="parallax" routerLink="/posts">New Posts</a>
                        </li>
                        <li class="d-inline-block over-hidden"><a class="link-hover" data-dsn="parallax" routerLink="/projects">projects</a>
                        </li>
                        <li class="d-inline-block over-hidden"><a class="link-hover" data-dsn="parallax" routerLink="/NACHD-UMS">NACHD-UMS</a>
                        </li>
                        <li class="d-inline-block over-hidden"><a class="link-hover" data-dsn="parallax" routerLink="/about">About Us</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
