
<!-- ========== End side box left ========== -->
<!-- ========== Menu ========== -->
<div class="site-header dsn-load-animate dsn-container">

  <div class="extend-container d-flex w-100 align-items-baseline justify-content-between align-items-end" >

    <div class="menu-icon d-flex align-items-baseline" >
        <div class="text-menu p-relative  font-heading text-transform-upper">
          <div class="p-absolute text-button"></div>
        </div>

        <div class="icon-m" data-dsn="parallax" data-dsn-move="10" >
          <button  >

            <div class="icon" style="width: 40px;height: 40px;" >
<!--               <i class="fab fa-menu"> </i>
 -->
            <i class="fas fa-bars" style="width: 40px;height: 40px;color: blue;font-size:40px"></i>
<!--  <img id="fr"src="{{lien+ariereplan?.menu}}" alt="">
 -->       </div>
          </button>
        </div>
      </div>

      <nav class="accent-menu dsn-container main-navigation p-absolute  w-100  d-flex align-items-baseline ">
        <div class="menu-cover-title">Menu</div>
        <ul class="extend-container p-relative d-flex flex-column justify-content-center h-100">

          <li class="dsn-active dsn-drop-down">
            <a routerLink="/home" class="user-no-selection">
              <span class="dsn-title-menu " >{{'HOME' | translate }}</span>
              <span class="dsn-meta-menu">01</span>
              <span class="dsn-bg-arrow"></span>
            </a>
          </li>

          <li class="dsn-drop-down">
            <a routerLink="/about" class="user-no-selection">
              <span class="dsn-title-menu">{{'ABOUT US'|translate}}</span>
              <span class="dsn-meta-menu">02</span>
              <span class="dsn-bg-arrow"></span>
            </a>
          </li>

          <li class="dsn-drop-down">
            <a routerLink="/storis" class="user-no-selection">
              <span class="dsn-title-menu">{{'Storis'|translate}}</span>
              <span class="dsn-meta-menu">03</span>
              <span class="dsn-bg-arrow"></span>
            </a>
          </li>

          <li class="dsn-drop-down">
            <a routerLink="/posts" class="user-no-selection">
              <span class="dsn-title-menu">{{'New Posts'|translate}}</span>
              <span class="dsn-meta-menu">04</span>
              <span class="dsn-bg-arrow"></span>
            </a>
          </li>
          <li class="dsn-drop-down">
            <a routerLink="/Nachd-UMS" class="user-no-selection">
              <span class="dsn-title-menu">Nachd UMS</span>
              <span class="dsn-meta-menu">06</span>
              <span class="dsn-bg-arrow"></span>
            </a>
          </li>

          <li class="dsn-drop-down">
            <a routerLink="/projects" class="user-no-selection">
              <span class="dsn-title-menu">{{'Projects'|translate}}</span>
              <span class="dsn-meta-menu">07</span>
              <span class="dsn-bg-arrow"></span>
            </a>
          </li>
          <li class="dsn-drop-down">
            <a routerLink="/formulaire" class="user-no-selection">
              <span class="dsn-title-menu">{{'Do a project'|translate}}</span>
              <span class="dsn-meta-menu">08</span>
              <span class="dsn-bg-arrow"></span>
            </a>
          </li>

        </ul>
        <div class="container-content  p-absolute h-100 left-60 d-flex flex-column justify-content-center">
          <div class="nav__info">
            <div class="nav-content">
              <p class="title-line">
                {{'localisation'|translate}}
              </p>
              <p>
                {{translate.currentLang=='fr'? tbprofile?.localisation_fr :tbprofile?.localisation_en}}
              </p>
            </div>
            <div class="nav-content">
              <p class="title-line">
                Contact
              </p>
              <p class="links over-hidden">
                <a href="#"  class="link-hover">{{tbprofile?.phone }}
                </a>
              </p>
            </div>
          </div>
          <div class="nav-social nav-content">
            <div class="nav-social-inner p-relative">
              <p class="title-line">
                {{'Follow us|translate'}}</p>
              <ul>

                <li>
                  <a href="{{tbprofile?.facebook}}" target="_blank" rel="nofollow">facebook.
                    <div class="icon-circle"></div>
                  </a>
                </li>
                <li>
                  <a href="{{tbprofile?.linkedin }}" target="_blank" rel="nofollow">Linkedin.
                    <div class="icon-circle"></div>
                  </a>
                </li>

              </ul>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </div>

  <!-- ========== End Menu ========== -->
