<div class="contact-btn">
    <div class="contact-btn-txt">Contact</div>
</div>
<div class="contact-modal background-section spa">
    <div class="dsn-container contact-inner section-margin">
        <div class="section-title">
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-box d-flex flex-column">
                        <h4 class="title-block p-relative mb-30 text-uppercase border-section-bottom">How
                            Can I Help You?</h4>
                        <form id="contact-form" class="form w-100" method="post" action="contact.php" data-toggle="validator">
                            <div class="messages"></div>
                            <div class="input__wrap controls">
                                <div class="form-group">
                                    <div class="entry-box">
                                        <label>Your name *</label>
                                        <input id="form_name" type="text" name="name" placeholder="Type your name" required="required" data-error="name is required.">
                                    </div>
                                    <div class="help-block with-errors"></div>
                                </div>
    
                                <div class="form-group">
                                    <div class="entry-box">
                                        <label>Your E-Mail *</label>
                                        <input id="form_email" type="email" name="email" placeholder="Type your Email Address" required="required" data-error="Valid email is required.">
                                    </div>
                                    <div class="help-block with-errors"></div>
                                </div>
    
                                <div class="form-group">
                                    <div class="entry-box">
                                        <label>What's up?</label>
                                        <textarea id="form_message" class="form-control" name="message" placeholder="Tell us about you and the world" required="required" data-error="Please,leave us a message."></textarea>
                                    </div>
                                    <div class="help-block with-errors"></div>
                                </div>
    
                                <div class="text-right">
                                    <div class="image-zoom w-auto d-inline-block move-circle" data-dsn="parallax">
                                        <input type="submit" value="Send Message" class="v-light">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
    
                <div class="col-lg-6">
                    <div class="contact-content d-flex flex-column p-relative background-main box-padding h-100">
                        <h4 class="title-block p-relative mb-30 text-uppercase border-section-bottom">
                            Contact Info </h4>
    
                        <div class="content-bottom">
                            <div class="item">
                                <h5 class="sm-title-block mb-15">Address</h5>
                                <p>ISSATSo Incubator Taffala City (Ibn Khaldoun) 4003<br>Sousse-Tunisia</p>
                            </div>
    
                            <div class="item">
                                <h5 class="sm-title-block mb-15">Email</h5>
                                <a href="contact@NACHD IT.com">contact@NACHD IT.com</a>
                            </div>
    
                            <div class="item">
                                <h5 class="sm-title-block mb-15">Phone</h5>
                                <a href="tel:http://+012345678">+216 27 751 305</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
