        <!-- ========== Contact Stories ========== -->
        <div class="stories-btn">
            <div class="stories-btn-txt">Our Stories</div>
        </div>
        <div class="dsn-stories dsn-stories-model">
            <div class="close-story"></div>
            <div *ngFor="let p  of  Stories " class="dsn-stories-gallery" style="margin: 10px 10px 10px;">
                <div  class="p-relative h-100">
                  <img class="cover-bg-img " data-dsn-position="10% 10%"  src="{{lien+p.photo}}" alt="">
                </div>
        </div>
        <!-- ========== End Contact Stories ========== -->
