<div class="col-lg-16">
<div  class="d-grid grid-md-3 align-items-center">
        <div  apropos.content class="item d-flex align-items-center background-section   p-15">
            <h4 class="title-block background-main p-15 mr-10  ">{{content.awards}}</h4>
            <p>Awards</p>
            <div  class="col-lg-4">  
                <div class="icon"  >  
                    <img src="assets/img/services/developing.svg" alt=""  >
                </div> 
            </div>

    
        </div>

        <div class="item d-flex align-items-center background-section p-15">
            <h4 class="title-block background-main p-15 mr-10">{{content.projects}}</h4>
            <p>Projects</p>
            <div  class="col-lg-4">  
                <div class="icon"  >  
                    <img src="assets/img/services/developing.svg" alt=""  >
                </div> 
            </div>
        </div>

        <div class="item d-flex align-items-center background-section p-15">
            <h4 class="title-block background-main p-15 mr-10">{{content.clients}}</h4>
            <p>Clients </p>
            <div  class="col-lg-4">  
                <div class="icon"  >  
                    <img src="assets/img/services/developing.svg" alt=""  >
                </div> 
            </div>
        </div>


    </div>
</div>