<div class="col-lg-16">
<div  class="d-grid grid-md-5 align-items-center">
  <div class="item d-flex align-items-center background-section p-15" style="background: none;">

</div>
        <div  class="item d-flex align-items-center background-section   p-15" style="background-color: rgb(16, 16, 125);">
            <h4 class="title-block background-main p-15 mr-10" >{{aboutus.awards}}</h4>
            <p>Awards</p>
            <div  class="col-lg-4">
                <div class="icon"  >
                    <img src="{{lien+aboutus.iconawards}}" alt=""  >
                </div>
            </div>


        </div>

        <div class="item d-flex align-items-center background-section p-15" style="background-color: rgb(16, 16, 125);">
            <h4 class="title-block background-main p-15 mr-10" style="background-color: transparent;">{{aboutus.nb_projects}}</h4>
            <p>Projects</p>
            <div  class="col-lg-4">
                <div class="icon"  >
                    <img src="{{lien+aboutus.iconprojects}}" alt=""  >
                </div>
            </div>
        </div>

        <div class="item d-flex align-items-center background-section p-15" style="background-color: rgb(16, 16, 125);">
            <h4 class="title-block background-main p-15 mr-10" >{{aboutus.nb_clients}}</h4>
            <p>Clients </p>
            <div  class="col-lg-4">
                <div class="icon"  >
                    <img src="{{lien+aboutus.iconclients}}" alt=""  >
                </div>
            </div>
        </div>


    </div>
</div>
