<main class="main-root">
  <div id="dsn-scrollbar">
      <div class=" inner-content">
          <div class="wrapper ">
              <!-- ========== Slider Parallax ========== -->
              <div class="main-slider demo-2 full-width p-relative w-100 h-v-100 v-dark v-dark-head-mobile">
                  <div class="content-slider p-relative w-100 h-100 over-hidden">
                      <div class="bg-container  dsn-hero-parallax-img p-relative w-100 h-100">
                          <div class="slide-inner h-100">
                              <div class="swiper-wrapper">
                                  <div class="swiper-slide over-hidden">
                                      <div class="image-bg w-100 h-100 " data-overlay="5" data-swiper-parallax="50%">
                                          <img class="cover-bg-img" data-dsn-position="10% 10%" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-dsn-src="assets/img/project/project1/1.jpg" alt="">
                                      </div>
                                      <div class="slide-content p-absolute">
                                          <div class="content p-relative">
                                              <div class="metas d-inline-block mb-25">
                                                  <span>Fashion</span>
                                                  <span>Photography</span>
                                              </div>
                                              <div class="d-block"></div>
                                              <a href="project-1.html" class="effect-ajax" data-dsn-ajax="slider">
                                                  <h1 class="title">
                                                      Exclusive <br>hand watches
                                                  </h1>
                                              </a>
                                              <p class="description border-before mt-25 max-w570">
                                                  Photography for Grönefeld, The Horological Brothers. Multiple
                                                  Grand
                                                  Prix
                                                  d’Horlogerie de Genève award winning watchmaking. They create
                                                  exclusive
                                                  handmade timepieces
                                              </p>

                                              <a href="project-1.html" class="link-custom v-light background-main image-zoom move-circle mt-30 effect-ajax" data-dsn-ajax="slider" data-dsn="parallax">
                                                  View Case
                                              </a>


                                          </div>
                                      </div>
                                  </div>
                                  <div class="swiper-slide over-hidden">
                                      <div class="image-bg w-100 h-100 " data-overlay="5" data-swiper-parallax="50%">
                                          <img class="cover-bg-img" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-dsn-src="assets/img/project/project2/1.jpg" alt="">
                                      </div>
                                      <div class="slide-content p-absolute">
                                          <div class="content p-relative">
                                              <div class="metas d-inline-block mb-25">
                                                  <span>Photography</span>
                                                  <span>Car</span>
                                              </div>
                                              <div class="d-block"></div>
                                              <a href="project-2.html" class="effect-ajax" data-dsn-ajax="slider">
                                                  <h1 class="title">
                                                      BMW <br> 1er "ADAM"
                                                  </h1>
                                              </a>
                                              <p class="description border-before mt-25 max-w570">
                                                  ADAM Personal lifestyle project Photography: Marc and David
                                                  Model:
                                                  Adam
                                                  Posch Modelagency: Brodybookings Hair & Make-up: Jenny Bonbon
                                              </p>

                                              <a href="project-2.html" class="link-custom v-light background-main image-zoom move-circle mt-30 effect-ajax" data-dsn-ajax="slider" data-dsn="parallax">
                                                  View Case
                                              </a>


                                          </div>
                                      </div>
                                  </div>
                                  <div class="swiper-slide over-hidden">
                                      <div class="image-bg w-100 h-100 " data-overlay="5" data-swiper-parallax="50%">
                                          <img class="cover-bg-img" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-dsn-src="assets/img/project/project3/1.jpg" alt="">
                                      </div>
                                      <div class="slide-content p-absolute">
                                          <div class="content p-relative">
                                              <div class="metas d-inline-block mb-25">
                                                  <span>Architecture</span>
                                              </div>
                                              <div class="d-block"></div>
                                              <a href="project-3.html" class="effect-ajax" data-dsn-ajax="slider">
                                                  <h1 class="title">
                                                      Wheel <br> house Hotel
                                                  </h1>
                                              </a>
                                              <p class="description border-before mt-25 max-w570">
                                                  The Wheelhouse Hotel is a modern boutique hotel located in
                                                  Wrigleyville, an area adjacent to Wrigley Stadium–the iconic
                                                  Major
                                                  League Baseball park and home of the Chicago Cubs.
                                              </p>

                                              <a href="project-3.html" class="link-custom v-light background-main image-zoom move-circle mt-30 effect-ajax" data-dsn-ajax="slider" data-dsn="parallax">
                                                  View Case
                                              </a>


                                          </div>
                                      </div>
                                  </div>
                                  <div class="swiper-slide over-hidden">
                                      <div class="image-bg w-100 h-100 " data-overlay="5" data-swiper-parallax="50%">
                                          <img class="cover-bg-img" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-dsn-src="assets/img/project/project4/1.jpg" alt="">
                                      </div>
                                      <div class="slide-content p-absolute">
                                          <div class="content p-relative">
                                              <div class="metas d-inline-block mb-25">
                                                  <span>Product</span>
                                              </div>
                                              <div class="d-block"></div>
                                              <a href="project-4.html" class="effect-ajax" data-dsn-ajax="slider">
                                                  <h1 class="title">
                                                      Super Blue <br>Tooth brush
                                                  </h1>
                                              </a>
                                              <p class="description border-before mt-25 max-w570">
                                                  SuperBlue is a manual toothbrush designed for
                                                  longevity in a market that emphasizes disposability.
                                              </p>

                                              <a href="project-4.html" class="link-custom v-light background-main image-zoom move-circle mt-30 effect-ajax" data-dsn-ajax="slider" data-dsn="parallax">
                                                  View Case
                                              </a>


                                          </div>
                                      </div>
                                  </div>
                                  <div class="swiper-slide over-hidden">
                                      <div class="image-bg w-100 h-100 " data-overlay="5" data-swiper-parallax="50%">
                                          <img class="cover-bg-img" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-dsn-src="assets/img/project/project5/1.jpg" alt="" data-dsn-position="50% 32%">
                                      </div>
                                      <div class="slide-content p-absolute">
                                          <div class="content p-relative">
                                              <div class="metas d-inline-block mb-25">
                                                  <span>Branding</span>
                                              </div>
                                              <div class="d-block"></div>
                                              <a href="project-5.html" class="effect-ajax" data-dsn-ajax="slider">
                                                  <h1 class="title">
                                                      ZND <br> the sound
                                                  </h1>
                                              </a>
                                              <p class="description border-before mt-25 max-w570">
                                                  Master Thesis - 2018 ZND is an audio-based product family,
                                                  aiming to
                                                  enhance the personal music experience.
                                              </p>

                                              <a href="project-5.html" class="link-custom v-light background-main image-zoom move-circle mt-30 effect-ajax" data-dsn-ajax="slider" data-dsn="parallax">
                                                  View Case
                                              </a>


                                          </div>
                                      </div>
                                  </div>
                                  <div class="swiper-slide over-hidden">
                                      <div class="image-bg w-100 h-100 " data-overlay="2" data-swiper-parallax="50%">
                                          <img class="cover-bg-img" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-dsn-src="assets/img/project/project6/1.jpg" alt="">
                                      </div>
                                      <div class="slide-content p-absolute">
                                          <div class="content p-relative">
                                              <div class="metas d-inline-block mb-25">
                                                  <span>Photography</span>
                                              </div>
                                              <div class="d-block"></div>
                                              <a href="project-6.html" class="effect-ajax" data-dsn-ajax="slider">
                                                  <h1 class="title">
                                                      The <br> Confrontations
                                                  </h1>
                                              </a>
                                              <p class="description border-before mt-25 max-w570">
                                                  Confrontations (2019) It's been a while since I shot any work
                                                  that I
                                                  felt really excited about but this weekend did just that for me.
                                              </p>

                                              <a href="project-6.html" class="link-custom v-light background-main image-zoom move-circle mt-30 effect-ajax" data-dsn-ajax="slider" data-dsn="parallax">
                                                  View Case
                                              </a>


                                          </div>
                                      </div>
                                  </div>
                                  <div class="swiper-slide over-hidden">
                                      <div class="image-bg w-100 h-100 before-z-index" data-overlay="5" data-swiper-parallax="50%">
                                          <img class="cover-bg-img p-absolute hidden" src="assets/img/project/project7/1-sm.jpg" data-dsn-src="assets/img/project/project7/1.jpg" alt="">
                                          <div class="p-relative " data-dsn="video">
                                              <video class="dsn-video" preload="none" data-dsn-poster="assets/img/project/project7/1.jpg" autoplay="" loop="" muted="" playsinline="">
                                                  <source src="../video/grida.mp4" type="video/mp4">
                                              </video>
                                          </div>
                                      </div>
                                      <div class="slide-content p-absolute">
                                          <div class="content p-relative">
                                              <div class="metas d-inline-block mb-25">
                                                  <span>Photography</span>
                                                  <span>Brand</span>
                                                  <span>Video</span>
                                              </div>
                                              <div class="d-block"></div>
                                              <a href="project-7.html" class="effect-ajax" data-dsn-ajax="slider">
                                                  <h1 class="title">
                                                      BEYOND <br> THE LIGHT
                                                  </h1>
                                              </a>
                                              <p class="description border-before mt-25 max-w570">
                                                  European launch campaign for the Oppo Reno4 Series
                                                  TV spot exclusively shot on Oppo Reno4 mobiles, directed by
                                                  Simon
                                                  Duhamel.
                                              </p>

                                              <a href="project-7.html" class="link-custom v-light background-main image-zoom move-circle mt-30 effect-ajax" data-dsn-ajax="slider" data-dsn="parallax">
                                                  View Case
                                              </a>


                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>

                      <div class="dsn-slider-content p-absolute h-100 w-100 ">
                          <div class="dsn-container  d-flex align-items-center">
                              <div class="slider-current-index">01</div>
                          </div>
                      </div>
                  </div>



                  <div class="control-nav p-absolute w-100  d-flex dsn-container align-items-center  justify-content-between ">
                      <div class="dsn-pagination p-relative w-50 v-dark-head">
                          <div class="slider-current-index">01</div>
                          <div class="swiper-pagination-control">
                              <span class="swiper-pagination-progressbar-fill"></span>
                          </div>
                          <div class="slider-total-index"></div>
                      </div>

                      <div class="d-flex">
                          <div class="prev-container">
                              <div class="container-inner">
                                  <div class="triangle"></div>
                                  <svg class="circle" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24">
                                      <g class="circle-wrap" fill="none" stroke-width="1" stroke-linejoin="round" stroke-miterlimit="10">
                                          <circle cx="12" cy="12" r="10.5"></circle>
                                      </g>
                                  </svg>
                              </div>
                          </div>
                          <div class="next-container">
                              <div class="container-inner">
                                  <div class="triangle"></div>
                                  <svg class="circle" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24">
                                      <g class="circle-wrap" fill="none" stroke-width="1" stroke-linejoin="round" stroke-miterlimit="10">
                                          <circle cx="12" cy="12" r="10.5"></circle>
                                      </g>
                                  </svg>
                              </div>
                          </div>
                      </div>


                  </div>
              </div>
              <!-- ========== End Slider Parallax ========== -->
          </div>
      </div>

  </div>

</main>
