<section class="testimonials testimonials-two dsn-container p-relative mb-section dsn-swiper" data-dsn-title="Feedback">
  <div class="inner">
    <h2 class="title-block  border-section-bottom dsn-up">Feedback from our clients.</h2>
  </div>

  <div *ngFor="let s  of feedback" class="testimonial-inner ">
    <div class="swiper-container">
      <div  class="swiper-wrapper">
        <div  class="swiper-slide testimonial-item">
          <i class="fas fa-quote-left"></i>
          <div class="testimonial-content">
            <p class="max-w750 p-large">{{s.feedback}}</p>
          </div>
          <div class="testimonial-author d-flex align-items-center">
            <div class="author">
              <img src="{{lien+s.photo}}" alt="">
            </div>
            <div class="author-text">
              <h4>{{s.name}}</h4>
              <h5>{{s.position}}</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
