<section class="blog dsn-container p-relative section-margin" data-dsn-title="Our Blog">
    <div class="inner">
        <h2 class="title-block  border-section-bottom dsn-up">
        our clients</h2>
    </div>

    <div class="blog-content">
        <div class="blog-item p-relative pt-50 pb-50 border-bottom">
            <div class="blog-item-inner p-relative spec">
                <div class="left-box">
                    <a href="#">
                        <h4 class="title-block">Creativity is nothing but <br> a mind set free</h4>
                    </a>


                    <div class="link mt-15">
                        <a class="font-caps heading-color" href="#">
                            January 9,2020
                        </a>
                    </div>
                </div>

                <div class="right-box">
                    <p class="max-w570">Lorem ipsum is simply dummy text printing typesetting
                        industry lorem ipsum been dummy...</p>

                    <div class="blog-category mt-15">
                        <a class="font-caps heading-color" href="#">/ Uncategorized</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="blog-item p-relative pt-50 pb-50 border-bottom">
            <div class="blog-item-inner p-relative">
                <div class="left-box">
                    <a href="#">
                        <h4 class="title-block">Extreme Athleticism <br> Is the New Midlife Crisis
                        </h4>
                    </a>


                    <div class="link mt-15">
                        <a class="font-caps heading-color" href="#">
                            January 9,2020
                        </a>
                    </div>
                </div>

                <div class="right-box">
                    <p class="max-w570">
                        Agile software development with Scrum is a collection of different
                        methodologies, work techniques and roles.
                    </p>

                    <div class="blog-category mt-15">
                        <a class="font-caps heading-color" href="#">/ Lifestyle</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="blog-item p-relative pt-50 pb-50 border-bottom">
            <div class="blog-item-inner p-relative">
                <div class="left-box">
                    <a href="#">
                        <h4 class="title-block">
                            Top Photographers
                        </h4>
                    </a>


                    <div class="link mt-15">
                        <a class="font-caps heading-color" href="#">
                            January 9,2020
                        </a>
                    </div>
                </div>

                <div class="right-box">
                    <p class="max-w570">
                        Agile software development with Scrum is a collection of different
                        methodologies, work techniques and roles.
                    </p>

                    <div class="blog-category mt-15">
                        <a class="font-caps heading-color" href="#">/ Uncategorized</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>