    <!-- ========== side box left ========== -->
    <div class="site-header dsn-load-animate dsn-container">
        <div class="extend-container d-flex w-100 align-items-baseline justify-content-between align-items-end">
            <div class="inner-header p-relative">
                <div class="main-logo">
                    <a href="index.html" data-dsn="parallax">
                        <img class="light-logo" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-dsn-src="assets/photo/logo-dark.png" alt="">
                        <img class="dark-logo" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-dsn-src="assets/photo/logo-light.png " alt="">
                    </a>
                </div>
            </div>
        </div>
      </div>
    <div class="side-bar-full"> 
        <div class="side-box-left z-index-1">
          <div class="side-menu border-left border-right p-relative h-100 d-flex justify-content-center">
            <div class="inner-header p-relative">
              <div class="footer-item">
                <a href="" class="logo-footer m-auto">
                  <img src="assets/photo/startup.png" alt="" class="logo-dark cover-bg-img">
                  <img src="assets/photo/startup-light.png" alt="" class="logo-light cover-bg-img">
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="side-box-right text-stroke border-right text-uppercase z-index-2">
          <div class="text-inner over-hidden">
            <div class="text-stroke-box">
              <div class="text-stroke-inner">Nachd it</div>
            </div>
          </div>
        </div>
      </div>
      <!-- ========== End side box left ========== -->